@import url('https://cdn.jsdelivr.net/npm/@dannymichel/proxima-nova@4.5.2/index.min.css');
@import 'variables';

$font-family-base: 'Proxima Nova' !important;

@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@openedx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

@import "~@edx/frontend-component-footer/dist/footer";
@import "~@edx/frontend-component-header/dist/index";

html body,
html body * {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
  font-family: 'Proxima Nova' !important;
  line-height: 100%;
  letter-spacing: 0.5px !important;
}

// *,
// .text-monospace,
// body {
//     font-size: 1rem;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   scrollbar-width: none;
//   font-family: 'Proxima Nova' !important;
//   line-height: 100%;
//   letter-spacing: 0.5px !important;
// }

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $v2-info-400;

  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $v2-info-400;
  }

  main {
    flex-grow: 1;
  }

  #main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  header {
    flex: 0 0 auto;

    .logo {
      display: block;
      box-sizing: content-box;
      position: relative;
      top: 0.1em;
      height: 1.75rem;
      margin-right: 1rem;

      img {
        display: block;
        height: 100%;
      }
    }
  }

  footer {
    flex: 0;
  }
}

.nav-underline-tabs {
  margin: 0 0 -1px;

  .nav-link {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    color: $gray-700;

    // temporary until we can remove .btn class from dropdowns
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    &:hover,
    &:focus,
    &.active {
      font-weight: $font-weight-normal;
      color: $primary-500;
      border-bottom-color: $primary-500;
    }
  }
}

.pgn__menu-select .pgn__menu-select-popup {
  position: static;
}

.sequence-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 4rem;
  margin-right: auto;
  margin-left: auto;
}

.sequence {
  @media (min-width: map-get($grid-breakpoints, "sm")) {
    border: solid 1px #eaeaea;
    border-radius: 4px;
  }
}

.sequence-navigation-container {
  display: flex;
  align-items: flex-start;
}

.notification-btn {
  @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
    height: 3rem;
  }
}

.sequence-navigation {
  display: flex;
  flex-grow: 1;

  @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
    max-width: 100%;
  }

  @media (min-width: map-get($grid-breakpoints, "sm")) {
    margin: -1px -1px 0;
  }

  @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
    width: 100% !important;
  }

  .btn {
    flex-grow: 1;
    display: inline-flex;
    border-radius: 0;
    border: solid 1px #eaeaea;
    border-left-width: 0;
    position: relative;
    font-weight: 400;
    padding: 0 0.375rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color: $gray-500;
    white-space: nowrap;

    &:hover,
    &:focus,
    &.active {
      color: $gray-700;
    }

    &:focus {
      z-index: 1;
    }

    &.active {
      &:after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 2px;
        background: $primary;
      }
    }

    &.complete {
      background-color: #eef7e5;
      color: $success;
    }

    &:first-child {
      border-left-width: 0;
    }

    &:last-child {
      border-right-width: 0;
    }
  }

  .sequence-navigation-tabs-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    // min-width 0 prevents the flex item from overflowing the parent container
    // https://dev.to/martyhimmel/quick-tip-to-stop-flexbox-from-overflowing-peb
    min-width: 0;
  }

  .sequence-navigation-tabs {
    overflow: auto;

    .btn {
      flex-basis: 100%;
      min-width: 3rem;
    }
  }

  .navigation-tab-width-xl {
    max-width: 47rem;
  }

  .navigation-tab-width-large {
    max-width: 28rem;
  }

  .navigation-tab-width-medium {
    max-width: 23.5rem;
  }

  .sequence-navigation-dropdown {
    .dropdown-menu .btn {
      flex-basis: 100%;
      min-width: 4rem;
      padding-left: 1rem;
      padding-right: 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      border-right: 0;

      &+.btn {
        border-top: 0;
      }

      .unit-title {
        flex-grow: 1;
        text-align: left;
        overflow: hidden;
        min-width: 0;
        margin: 0 1rem;
        text-overflow: ellipsis;
        color: $gray-700;
      }

      &.active {
        .unit-icon {
          color: $primary-500;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 0px;
          top: 0px;
          right: auto;
          width: 2px;
          height: auto;
          background: $primary;
        }
      }
    }

    .dropdown-item {
      &.active {
        // This is un-doing the default react-bootstrap styling for active dropdown-item elements.
        background-color: transparent;
      }
    }
  }

  .previous-btn,
  .next-btn {
    border: 1px solid $light-400 !important;
    color: $gray-700;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      min-width: fit-content;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .previous-btn {
    border-left-width: 0;
    margin-left: 0;

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      border-left-width: 1px;
      border-top-left-radius: 4px;
    }
  }

  .next-btn {
    border-left-width: 1px;
    border-right-width: 0;

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      border-top-right-radius: 4px;
      border-right-width: 1px;
    }
  }
}

.unit-container {
  padding-top: 21.5px !important;
  padding-bottom: 2rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: map-get($grid-breakpoints, "sm")) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }

  @media (min-width: 830px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.unit-container {
  max-height: calc(100vh - 170px);
}

.unit {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.unit-iframe-wrapper {
  overflow: auto;
  height: 100%;
  margin-top: 0;

  // Some XBlocks (such as xblock-drag-and-drop-v2) rely on the viewport width
  // to determine their layout on mobile. This is problematic because the
  // viewport width may not be the same as the width of the iframe. To fix this,
  // here we compensate for the padding of the parent div with "container-xl"
  // class to ensure that the viewport width is the same as the width of the
  // iframe.
  margin-left: -$grid-gutter-width * .5;
  margin-right: -$grid-gutter-width * .5;

  margin-bottom: 2rem;

  @media (min-width: 830px) {
    // margin: 0 -40px 2rem;
  }
}

#unit-iframe {
  width: 100%;
  border: none;
  display: block;
}

.unit-navigation {
  display: flex;
  justify-content: center;
  gap: 16px;
  max-width: 640px;
  margin: 0 auto;

  @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
    flex-direction: column;
    gap: $spacer;
  }

  .previous-button,
  .next-button {
    border-radius: 4px;
    min-width: min-content;

    &:focus:before {
      border-radius: 6px;
    }
  }

  .next-button {
    // flex-basis: 75%;

    @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
      // flex-basis: 100%;
    }
  }

  .previous-button {
    margin-right: 0 !important;
    // flex-basis: 25%;

    @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
      // flex-basis: 100%;
    }
  }
}

.top-unit-navigation {
  max-width: 100%;
  justify-content: flex-end;

  .next-button,
  .previous-button {
    min-width: 83px;
    height: 40px;
    padding: 10px 16px;
    // @media (min-width: map-get($grid-breakpoints, "md")) {
    // flex-basis: auto;
    // min-width: 8rem;
    // }
  }
}

// This class forces any modals using 'modal-lti' as their dialogClassName to take up the whole
// window (retaining padding around the edge).  Bootstrap modals don't have a full-screen
// size like this.  Because of the hack below around react-focus-on's div, it would be better long-term to pull this into Paragon and perhaps call it "modal-full" or something like that.
.modal-lti {
  height: 100%;
  max-width: 100% !important;

  // I don't like this.  We need to set a height of 100% on a div created by react-focus-on, a
  // package we use in our Modal.  That div has no class name or ID, so instead we're uniquely
  // identifying it by based on a unique attribute it has which its siblings don't share.
  >div[data-focus-lock-disabled="false"] {
    height: 100%;
  }

  // Along with setting the height of modal-content's parent div from react-focus-on, we need to
  // set modal-content's height as well to get the modal to expand to full-screen height.
  .modal-content {
    height: 100%;
  }
}

.greyed-out {
  opacity: 0.3;
}

.locked-overlay {
  opacity: 0.3;
  pointer-events: none;

  &.grades {
    overflow: hidden;
    max-height: 852px;

    @media screen and (min-width: 992px) {
      max-height: 920px;
    }
  }
}

.raised-card {
  border: 0 !important;
  box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, .2) !important;
}

.icon-hover {
  &:hover {
    color: $primary-500 !important;
    background-color: $light-300 !important;
  }
}

.sticky-top {
  position: sticky;
  top: 0;
}

.min-height-700 {
  min-height: 700px;
}

.size-4r {
  width: 4rem !important;
  height: 4rem !important;
}

.size-56px {
  width: 56px !important;
  height: 56px !important;
}

@include media-breakpoint-down(xs) {
  .course-outline-tab .pgn__card {
    .pgn__card-header {
      display: block;

      .pgn__card-header-content {
        margin-top: 0;
      }
    }

    .pgn__card-header-actions {
      margin-left: 0;
    }
  }
}

// Import component-specific sass files
@import "courseware/course/celebration/CelebrationModal.scss";
@import "courseware/course/sidebar/sidebars/discussions/Discussions.scss";
@import "courseware/course/sidebar/sidebars/notifications/NotificationIcon.scss";
@import "courseware/course/sequence/lock-paywall/LockPaywall.scss";
@import "shared/streak-celebration/StreakCelebrationModal.scss";
@import "courseware/course/content-tools/calculator/calculator.scss";
@import "courseware/course/content-tools/contentTools.scss";
@import "course-home/dates-tab/timeline/Day.scss";
@import "generic/upgrade-notification/UpgradeNotification.scss";
@import "generic/upsell-bullets/UpsellBullets.scss";
@import "course-home/outline-tab/widgets/ProctoringInfoPanel.scss";
@import "course-home/outline-tab/widgets/FlagButton.scss";
@import "course-home/progress-tab/course-completion/CompletionDonutChart.scss";
@import "course-home/progress-tab/grades/course-grade/GradeBar.scss";
@import "courseware/course/course-exit/CourseRecommendations";
@import "product-tours/newUserCourseHomeTour/NewUserCourseHomeTourModal.scss";
@import "course-home/courseware-search/courseware-search.scss";
@import "course-tabs/course-tabs-navigation.scss";
@import "courseware/course/sidebar/common/SidebarBase.scss";
@import "courseware/course/sidebar/sidebars/course-outline/CourseOutlineTray.scss";

// common classes overwrite
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $v2-black-400 !important;
}

// custom css overrides for Paragon components
.container-fluid {
  max-width: 100%;
  width: 100%;
  padding: 0 15px;
}

.w-auto {
  width: auto !important;
}

.h-auto {
  height: auto !important;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.h-fit {
  height: fit-content;
}

.v2-text-black-400 {
  color: $v2-black-400 !important;
}

.v2-text-black-600 {
  color: $v2-black-600 !important;
}

.text-base {
  font-size: 16px;
}

.text-sm {
  font-size: 14px;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.card,
.raised-card {
  background-color: $v2-white-100 !important;
  border: 1px solid $v2-black-500 !important;
  border-radius: 16px !important;
  box-shadow: none !important;

  .card-header-custom:not(.welcome-text),
  h2:not(.welcome-text) {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 100% !important;
    letter-spacing: 0% !important;
    // color: $v2-black-400 !important;
  }

  .welcome-text {
    font-weight: 600 !important;
    font-size: 32px !important;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

  ul li,
  ol li {
    padding: 4px 0;
    ;

    button,
    a {
      color: $v2-black-300;
    }
  }
}

// 
.outline-sidebar-wrapper {
  &.card-square {
    border-radius: 0 !important;
    box-shadow: none !important;
    border-top: none !important;
    top: 0 !important;
    height: auto !important;
    overflow: auto;
  }
}

.main-course-header {
  background-color: $v2-white-100 !important;
  padding: 14px 15px !important;
  height: 64px;
  border-bottom: 1px solid $v2-black-500;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  column-gap: 10px;

  h1 {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 100% !important;
    // letter-spacing: 0% !important;
    color: $v2-black-400 !important;
    margin: 0;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }
}



.community-header {
  border-bottom: 1px solid $v2-black-500;
  padding: 10px 15px !important;
  background-color: $v2-white-100 !important;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.course-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.course-image {
  width: 40px;
  height: 40px;
  border-radius: 14px;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid $v2-black-500;
}

.course-title {
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 100% !important;
  letter-spacing: 0% !important;
  color: $v2-black-600 !important;
  margin: 0;
}

.course-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-button {
  background-color: $v2-white-100;
  border: 1px solid $v2-black-500;
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: $v2-black-400;
  text-wrap: nowrap;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 14px;
  overflow: hidden;
}



.btn-filled,
.btn-outline-primary {
  width: fit-content !important;
  background-color: $v2-blue-600 !important;
  border-color: $v2-blue-600 !important;
  color: $v2-white-100 !important;
  border-radius: 12px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0% !important;
  vertical-align: middle !important;
  text-wrap: nowrap;

  &:focus::before,
  &:focus::after,
  &:focus-visible &:focus-visible {
    // display: none !important;
    outline: none !important;
  }
}

.btn-outline-secondary {
  width: fit-content !important;
  background-color: transparent !important;
  border-color: $v2-blue-600 !important;
  color: $v2-blue-600 !important;
  border-radius: 12px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0% !important;
  vertical-align: middle !important;
  text-wrap: nowrap;

  &:focus::before,
  &:focus::after,
  &:focus-visible {
    // display: none !important;
    outline: none !important;
  }
}

.btn-blue,
.btn-brand {
  width: fit-content !important;
  background-color: $v2-info-300 !important;
  border-color: $v2-info-300 !important;
  color: $v2-blue-600 !important;
  border-radius: 12px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0% !important;
  vertical-align: middle !important;
  padding: 8px 16px !important;
  text-wrap: nowrap;

  &:focus::before,
  &:focus::after {
    display: none !important;
    outline: none !important;
  }

  &:focus-visible {
    outline: none !important;
  }
}


.btn-secondary {
  width: fit-content !important;
  background-color: $v2-info-200 !important;
  border-color: $v2-info-200 !important;
  color: $v2-black-400 !important;
  border-radius: 12px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  letter-spacing: 0% !important;
  vertical-align: middle !important;
  padding: 8px 16px !important;
  text-wrap: nowrap;

  &:focus::before,
  &:focus::after {
    display: none !important;
    outline: none !important;
  }

  &:focus-visible {
    outline: none !important;
  }
}


.pgn__data-table-container {
  border-radius: 0 !important;
}

.pgn__data-table-wrapper {
  box-shadow: none !important;
  border-radius: 0 !important;
}

.pgn__data-table-footer {
  padding: 16px 16px 0px 24px !important;
}

.pgn__data-table {
  th {
    border-top: 1px solid $v2-black-500 !important;
    border-bottom: 1px solid $v2-black-500 !important;
    background-color: transparent !important;
    color: $v2-black-600 !important;
    padding: 16px 16px 16px 24px !important;

    span {
      color: $v2-black-600 !important;
      font-weight: 600 !important;
      font-size: 16px !important;
      line-height: 140% !important;
      letter-spacing: 0% !important;
    }
  }

  td {
    background-color: transparent !important;
    color: $v2-black-600 !important;
    border: none !important;

    span,
    div {
      color: $v2-black-600 !important;
      font-weight: 400 !important;
      font-size: 16px !important;
      line-height: 140% !important;
      letter-spacing: 0% !important;
      border: none !important;
    }

    padding: 16px 16px 16px 24px !important;
  }
}

// common classes

.bg-info-100 {
  background-color: $v2-info-100 !important;
}

.bg-blue-500 {
  background-color: $v2-blue-500 !important;
}

.border-none {
  border: none !important;
}


// custome home section
#courseHome-outline .collapsible-card .collapsible-trigger[aria-expanded=true],
#courseHome-outline .collapsible-card-lg .collapsible-trigger[aria-expanded=true],
#courseHome-outline .collapsible-card-lg .collapsible-trigger {
  border: none !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  height: 60px;
}

#courseHome-outline .collapsible-card-lg {

  .collapsible-body .section-title a,
  .collapsible-body .subsection-title a {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000CC;
  }

  .collapsible-trigger {

    .section-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #000000CC;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }


    .btn-icon.btn-icon-primary.focus,
    .btn-icon.btn-icon-primary:focus {
      box-shadow: none;
    }

    .btn-icon.btn-icon-primary.hover,
    .btn-icon.btn-icon-primary:hover,
    .btn-icon.btn-icon-primary.active,
    .btn-icon.btn-icon-primary:active {
      background-color: transparent;
      color: #0A3055;
    }
  }
}

#courseHome-outline [dir="ltr"] .collapsible-card .collapsible-body,
#courseHome-outline [dir="ltr"] .collapsible-card-lg .collapsible-body {
  padding-top: 0 !important;
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

#courseHome-outline .card.is-open .pgn-transition-replace-group {
  border-top: 1px solid $v2-black-500 !important;
}

#courseHome-outline [dir="ltr"] .collapsible-card .collapsible-trigger[aria-expanded=true],
#courseHome-outline [dir="ltr"] .collapsible-card-lg .collapsible-trigger[aria-expanded=true],
#courseHome-outline [dir="ltr"] .collapsible-card-lg .collapsible-trigger {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#courseHome-outline .collapsible-card-lg .collapsible-body {
  padding: 0 !important;
}

#courseHome-outline .collapsible-card-lg .collapsible-body ol li {
  padding: 2px 15px 2px 55px !important;
  height: 48px;
}

@media (max-width: 360px) {
  #courseHome-outline .collapsible-icon {
    margin-inline-start: 0 !important;
  }
}

.badge-activity {
  font-size: 0.8em !important;
  background: $v2-info-200;
  padding: 3px 6px;
  font-family: Proxima Nova;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  border-radius: 6px;
}

// conatiners

.container-cs {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto !important;
  padding: 0 $grid-gutter-width;
}

.container-csm,
#root .unit-container.container-csm {
  max-width: 1024px !important;
  width: 100%;
  margin: 0 auto !important;
  padding: 0 $grid-gutter-width;
}

.border-black-500,
.border-black-500.border-top,
.border-black-500.border-bottom {
  border-color: $v2-black-500 !important;
}

.border-blue-500,
.border-blue-500.border-top,
.border-blue-500.border-bottom {
  border-color: $v2-black-500 !important;
}

.bg-white-500 {
  background-color: $v2-white-500 !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.center-align {
  // flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

// utils

._intialism {
  letter-spacing: normal !important;
  line-height: normal !important;
}

._truncate {
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.btn-primary.focus::before,
.modal .modal-footer button.focus::before,
.btn-primary:focus::before,
.modal .modal-footer button:focus::before {
  border: none !important;
}

button:focus-visible {
  outline: none !important
}

.pgn__modal-body.pgn__modal-body-scroll-top.pgn__modal-body-scroll-bottom::before,
.pgn__modal-body.pgn__modal-body-scroll-top.pgn__modal-body-scroll-bottom::after,
.pgn__modal-body.pgn__modal-body-scroll-top::after,
.pgn__modal-body::before,
.pgn__modal-body.pgn__modal-body-scroll-bottom::after,
.pgn__modal-body::after,
.pgn__scrollable-body.pgn__scrollable-body-scroll-top.pgn__scrollable-body-scroll-bottom::after,
.pgn__scrollable-body.pgn__scrollable-body-scroll-top.pgn__scrollable-body-scroll-bottom::before,
.unit-navigation .previous-button:focus:before,
.unit-navigation .next-button:focus:before {
  display: none !important;
}

.btn:focus-visible {
  outline: none !important;
}

.pt-135 {
  padding-top: 135px;
}

.component-block-wrappper {
  p {
    white-space: normal;
    line-break: anywhere;
  }
}

.btn-icon.btn-icon-primary.focus,
.btn-icon.btn-icon-primary:focus {
  outline: 0;
  box-shadow: none;
}

.btn-icon.btn-icon-primary {
  color: $iconColor !important;
  background-color: transparent !important;

  &:hover {
    color: $iconColor !important;
    background-color: transparent !important;
  }
}


.custom-scrollbar,
.unit-iframe-wrapper,
#unit-iframe {

  // Show and style scrollbar for WebKit browsers
  &::-webkit-scrollbar {
    width: 8px;
    background: #F6F7FA;
  }

  &::-webkit-scrollbar-thumb {
    background: #cfd8dc;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #F6F7FA;
    border-radius: 8px;
  }

  // For Firefoxs
  scrollbar-width: thin;
  scrollbar-color: #cfd8dc #F6F7FA;
}

.unit-iframe-wrapper {
  margin-right: 0;
}

.show-after-360 {
  display: none;
}

@media (max-width: 360px) {
  .show-after-360 {
    display: block;
  }
}

.hide-after-360 {
  display: block;
}

@media (max-width: 360px) {
  .hide-after-360 {
    display: none;
  }
}


// media response mobile 360
@media (max-width: 360px) {
  .main-course-header {
    column-gap: 4px;

    h1 {
      font-size: 18px !important;
    }
  }

  .course-outline-tab.container-cs {
    padding: 16px 16px 0 !important;
    flex-direction: column-reverse;

    .btn-blue,
    .btn-brand {
      line-height: 18px;
    }

    div.col {
      padding: 0 !important;

      .card {
        margin-bottom: 16px !important;

        .collapsible-trigger {
          padding: 10rem 18px;

          .collapsible-icon {
            margin: 0;
          }
        }
      }
    }

    .welcome-user-course.card {
      padding: 10px 16px !important;

      .card-header-custom,
      h2 {
        font-size: 18px !important;
      }

    }

    .course-info-containers {

      .card,
      .raised-card {
        padding: 16px !important;

        .card-header-custom:not(.welcome-text),
        h2:not(.welcome-text) {
          font-size: 18px !important;
          margin-bottom: 5px;
        }


        span {
          font-size: 14px;
        }

        #courseHome-dates {
          ol {
            margin: 0;

            li {
              font-size: 14px;
              margin-bottom: 0.25rem !important;
            }
          }
        }
      }
    }

  }

  #courseHome-outline .collapsible-card-lg .collapsible-body ol li {
    padding: 2px 15px 2px 18px !important;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 40px;

    &>div {
      width: 100%;
    }

    ol {
      padding: 0;
    }
  }

  // lesson id
  .unit-navigation {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 8px;
  }

  .unit-navigation .previous-button,
  .unit-navigation .next-button {
    min-width: 36px !important;
    max-width: 36px !important;
    width: 36px !important;
    min-height: 36px !important;
    max-height: 36px !important;
    height: 36px !important;
    padding: 10px;


    svg {
      margin: 0 !important;
    }
  }

  .container-csm,
  #root .unit-container.container-csm {
    padding: 18px 16px !important;
  }

  .unit h3 {
    font-size: 20px !important;
  }

  .unit-container {
    max-height: calc(100vh - 96px) !important;
  }

  .unit-iframe-wrapper {
    margin: 0px 0px 0px -10px;
  }
}